<form [formGroup]="form" (ngSubmit)="actionEvent.emit()" class="form-container">
  <mat-form-field>
    <input matInput class="form-control" type="email" placeholder="Name" [value]="form.get('name').value"
           formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="SideEffects" [value]="form.get('sideEffects').value"
           formControlName="sideEffects">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="Dosage" [value]="form.get('dosage').value"
           formControlName="dosage">
  </mat-form-field>
  <div>
    <button mat-flat-button color="warn">{{actionButtonText}}</button>
  </div>
</form>
