<div class="container centered">
  <div class="menu-container">
    <app-menu-handler></app-menu-handler>
    <div class="w-100">
      <mat-card class="no-border-radius">
        <app-medication-plan-form (actionEvent)="onCreate()"
                                  actionButtonText="Create"
                                  [form]="form"
                                  [medicationList]="medications$ | async"
                                  [patientList]="patients$ | async"
        ></app-medication-plan-form>
      </mat-card>
    </div>
  </div>
</div>
