<div class="form-container" *ngIf="patient">
  <mat-form-field>
    <input matInput class="form-control" type="email" placeholder="Email" [value]="patient.email" readonly>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="Name" [value]="patient.name" readonly>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" placeholder="Choose a date" [value]="patient.birthDate" readonly>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="Gender" [value]="patient.gender" readonly>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" placeholder="Address" [value]="patient.address" readonly>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput class="form-control" type="text" placeholder="Medical Record"
              [value]="patient.medicalRecord" readonly></textarea>
  </mat-form-field>
</div>
