<div class="container centered">
  <div class="menu-container">
    <app-menu-handler></app-menu-handler>
    <mat-card class="no-border-radius">
      <mat-card-content>
        <h1>In development</h1>
      </mat-card-content>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </div>
</div>
