<div class="container centered">
  <div class="menu-container">
    <app-menu-handler></app-menu-handler>
    <div class="w-100">
      <mat-card class="no-border-radius">
        <app-caregiver-form (actionEvent)="onCreate()" actionButtonText="Create" [form]="form"></app-caregiver-form>
      </mat-card>
    </div>
  </div>
</div>
