<table mat-table [dataSource]="dataList" class="mat-elevation-z8 w-100">
  <ng-container matColumnDef="id">
    <th class="centered" mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="doctorId">
    <th class="centered" mat-header-cell *matHeaderCellDef>Doctor Id</th>
    <td mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
  </ng-container>
  <ng-container matColumnDef="patientId">
    <th class="centered" mat-header-cell *matHeaderCellDef>Patient Id</th>
    <td mat-cell *matCellDef="let element">{{element.patientId}}</td>
  </ng-container>
  <ng-container matColumnDef="intakeIntervals">
    <th class="centered" mat-header-cell *matHeaderCellDef>Intake Intervals</th>
    <td mat-cell *matCellDef="let element">{{element.intakeIntervals}}</td>
  </ng-container>
  <ng-container matColumnDef="period">
    <th class="centered" mat-header-cell *matHeaderCellDef>Period</th>
    <td mat-cell *matCellDef="let element">{{element.period}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="dataListHeaders; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: dataListHeaders;"></tr>
</table>
