<table mat-table [dataSource]="dataList" class="mat-elevation-z8 w-100">
  <ng-container matColumnDef="id">
    <th class="centered" mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th class="centered" mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th class="centered" mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>
  <ng-container matColumnDef="birthDate">
    <th class="centered" mat-header-cell *matHeaderCellDef>BirthDate</th>
    <td mat-cell *matCellDef="let element">{{element.birthDate}}</td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th class="centered" mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">{{element.gender}}</td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th class="centered" mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{element.address}}</td>
  </ng-container>
  <ng-container matColumnDef="medicalRecord">
    <th class="centered" mat-header-cell *matHeaderCellDef>Medical Record</th>
    <td mat-cell *matCellDef="let element">{{element.medicalRecord}}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th class="centered" mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <app-patient-list-action-menu [elementId]="element.id" (delete)="onDelete($event)"></app-patient-list-action-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="dataListHeaders; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: dataListHeaders;"></tr>
</table>
