.form-container {
  padding-top: 20px;
  max-width: 400px;
  display: block;
}

.form-container-header {
  padding-top: 5%;
  max-width: 400px;
  display: block;
}

.form-card {
  max-width: 400px;
  margin-left: -380px;
}

.form-container .container-field {
  margin-top: 8px;
  min-width: 100%;
  max-width: 100%;
}

.form-container .action-container-field {
  min-width: 100%;
  max-width: 100%;
}

.centered {
  align-content: center;
  justify-content: center;
}

.form-card-logo-image {
  max-width: 192px;
  max-height: 192px;
  padding-top: 20px;
  margin-left: calc((100% - 192px) / 2);
}

.text-error {
  margin-bottom: 8px;
  color: red;
}

.submitButton {
  margin-top: 20px;
}


.toolbar-container {
  justify-content: center;
  text-align: center;
}

.no-border-radius {
  border-radius: 0;
}
