.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.form-container form > * {
  margin: 5px 0;
}
.centered {
  align-content: center;
  justify-content: center;
}
