<div class="container centered">
  <div class="menu-container">
    <app-menu-handler>
      <button mat-raised-button color="accent" routerLink="./create">Create Medication Plan</button>
    </app-menu-handler>
    <div class="w-100" *ngIf="!(isLoading$ | async)">
      <app-medication-plan-list [dataList]="medicationPlanList$ | async">
      </app-medication-plan-list>
    </div>
  </div>
</div>
