<button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #actionMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>build</mat-icon>
    <a mat-flat-button routerLink="{{elementId}}/edit">Modify</a>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <button mat-button (click)="delete.emit(elementId)">Delete</button>
  </button>
</mat-menu>
